* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Afacad";
}

.navbar {
    background: transparent;
    font-size: 20px;
}

.navbar-brand {
    font-family: 'Whisper';
    font-size: 40px;
    color: black;
    text-shadow:  1px 1px #B20600, 2px 2px #FF5F00;  
}

.nav-link.selected {
    color: #B20600;
    font-weight: bold;
}

.intro {
    padding-top: 10%;
}

h3 span {
    color: #B20600;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    margin: 50px;
    font-size: 15px;
}

footer a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
}
